<%- include('../partials/header') %>

<form action="/recipes" method="POST">
    <input type="text" name="recipe">
    <button type="submit">Save Recipe</button>
</form>

<%- include('../partials/footer') %>