<%- include('../partials/header') %>

<h1>Add A New Recipe</h1>

<form action="/recipes" method="POST">
   <label class="add header">Recipe Name:
    <input class="addtitle" type="text" name="title">
   </label><br>
   <label class="add header">Ingredients (separate with commas):
    <input class="addcontent" type="text" name="ingredients">
   </label><br>
   <label class="add header">Steps (separate with commas and begin each step with a number):
    <input class="addcontent" type="text" name="steps">
   </label><br>
    <button class='save' type="submit">Save Recipe</button>
</form>

<%- include('../partials/footer') %>